$background-color: #001219;
$num-bg-color:#3c4043;
$operator-bg-color:#5f6368;
$td-border-radius: 17px;
$font-color:#fff;
$display-area-bg-color:#fff;
$clear-btn-color:#ff2a26;
$equality-sign-bg-color:#26a8ffa9;
$preview-color:#9c9c9c;
$preview-font-size: 1.5rem;
$microphone-color:$background-color;
$mic-listening-color:#268bff;

$font:Ubuntu,
sans-serif;

@mixin flex($dir, $justify, $align) {
    display: flex;

    @if $dir !=null {
        flex-direction: $dir;
    }

    @if $justify !=null {
        justify-content: $justify;
    }

    @if $align !=null {
        align-items: $align;
    }
}